@using geziProjesi.Models.Siniflar
@model List<Hakkimizda>
@{
    ViewBag.Title = "Hakkimizda";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<div class="content">
    <div class="wrap">
        <div class="about">
            <h3>İletişim</h3>
           <p> <h1>İBRAHİM HALİL METİN</h1></p>
            <p>Merhaba ben İbrahim Halil Metin.2023 Yılında Bilgisayar Mühendisligi'nden mezun oldum.Çalışmalarıma Back-end Alanında devam etmekteyim.Oluşturdugum proje tatil seyahat projesi olarak MVC5 yapısı ve Code  First yapısı kullanıldı.
            <br />Kullandıgım Teknolojiler olarak başta C# ve MySQL bulunmaktadır.Ayrıca HTML,CSS,JS,BOOSTRAP gibi teknolojilerde Kullanıldı.<br /></p>

           <address>
               <strong>E-Mail:</strong>   <a href="mailto:ibrahimhalilmetin@outlook.com">ibrahimhalilmetin@outlook.com</a><br /><br>
               <strong>Telefon:</strong>    <a>+905442502613<br /></a><br />
               <strong>Linkedin:</strong>     <a href="https://tr.linkedin.com/in/ibrahimhalilmetin">https://tr.linkedin.com/in/ibrahimhalilmetin</a>
               <br />
           </address>
          <br /><br />
        </div>
    </div>
</div>

